{% extends 'template.html.twig' %}

{% block title %} Public | View Executables {% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="/public/styles/exes.css">
{% endblock %}
{% block content %}

{% for exes in getExes %}
    <div class="text-center border border-gray-700 pt-2 px-6 pb-6 mt-28 flex flex-col items-center">
        <h3 class="text-3xl text-center underline">{{ exes.getSnipExesTitle | capitalize }}</h3>
        <h4 class="text-2xl text-center">{{ exes.getSnipExesDesc }}</h4>
    <a href="{{ PROJECT_DIRECTORY }}downloads/multiInstaller.exe" download>
        <img src="{{ PROJECT_DIRECTORY }}images/NodeIcon.png"
             alt="{{ data.getSnipExesDesc }}"
             class="h-36 w-36">
    </a>
    </div>
    {% endfor %}
    <section>
        <h3 class="text-2xl underline">The Multi-Installer can :</h3>
        <dl>
            <dt>Set up a project from a fork (from one of my projects)</dt>
                <dd>This will do stuff</dd>
            <dt>Set up a React app with Tailwind included</dt>
            <dt>Set up a React app with Bootstrap included</dt>
            <dt>Create a Node project</dt>
            <dt>Create a Node project with Database</dt>
            <dt>Create an empty MVC</dt>
        </dl>

    </section>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script src="/public/scripts/exesDLTagScript.js"></script>
{% endblock %}
